* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white !important;
}
body{
    font-family: 'Ubuntu', sans-serif;
    background-color: #092635 !important;
    
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
}
img{
    width: 65%;

}

#about{
    background-color: #113242 !important;
}
hr{
    color: #2D9596 !important;
    margin: 0 auto !important;
    width: 25%;
    height: 5px !important;

}
@media screen and (max-width: 768px)  {
    .navbar-nav{
        padding: 12px !important;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px){
    .picture{
        position: relative;
        bottom: 2rem;
        display: flex;
        margin: 0 auto;
    }
}
@media screen and (min-width:992px){
    nav{
        display: block;
        flex-direction: row;
        justify-content: space-around;
        margin: 0 auto;
    }
}
.picture{
    
        position: relative;
        bottom: 2rem;
        display: flex;
        margin: 0 auto;
    
}